<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Rails Forumu</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if signed_in? %>
            <%= current_user.username %>
            <ul class="dropdown">
              <li><%= link_to "Profilimi Görüntüle", profile_path(current_user) %></li>
              <li><%= link_to "Çıkış", logout_path %></li>
            </ul>
        <% else %>
            <li class="divider"></li>
            <li><%= link_to 'Kaydol', register_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Oturum Aç', login_path %></li>
            <li class="divider"></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>